body {
  position: relative;
  width: 100%;
  margin: 0;
  /* background-image: url(https://source.unsplash.com/random/1920x1080?js); */
  /* background-color: rgb(58 133 144 / 0.05); */
  background-color: rgba(93, 208, 185, 0.02);
  height: 100vh;
  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden; */
}

* {
  font-family: "Roboto", sans-serif;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  overflow-y: auto;
}

.page > * {
  margin: auto;
}

h1,
h2,
h3,
p {
  color: rgba(0, 0, 0, 0.8);
}

a {
    color: rgba(93, 208, 185, 0.902);
  }

a:hover{
  color: rgb(255 128 82 / 30%);
 
  font-weight: bold;
}

#person-city {
    color: rgba(0, 0, 0, 0.8);
}

hr {
  border: 0;
  border-top: 2px solid rgba(93, 208, 185, 0.302);

}

.button {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  height: 15px;
  padding: 10px 20px;
  border: 2px solid rgb(255 128 82 / 70%);
  background-color: rgb(255 128 82 / 5%);
  opacity: 0.6;
  border-radius: 50px;
  font-size: 12px;
  margin: 10px;
  text-decoration: none;
  color: black;
  align-items: center;
}

.button:hover{
  background-color: rgba(93, 208, 185, 0.202);
  border: 2px solid rgba(93, 208, 185, 0.702);
}

[disabled] {
  opacity: 0.3;
}

@media screen and (max-width: 650px) {
  .button {
    margin: 5px 10px;
  }
  .or {
    display: inline-block;
    width: 100%;
  }
}
