.networks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    box-sizing: content-box;
    background: white;
    font-size: 0.7rem;;
    max-width: 600px;
    width: 145%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(93 208 185 / 10%);
    border: solid 1px rgb(93, 208, 185);
    padding: 30px;
    box-sizing: border-box;

}

.network-links {
    /* position: absolute; */
    /* height: 10vh;
    width: 100%; */
    display: flex;
    align-items: center;
    /* align-content: center;  */
    flex-direction: column;
    /* padding: 20px;
    margin: 20px;
    box-sizing: border-box;  */
}

.network-logo {
    /* position: absolute; */
    height: 7vh;
    display: flex;
    align-items: center;
    align-content: center; 
    padding: 12px;
    box-sizing: border-box; 
}

@media screen and (max-width: 650px){
    .list li {
        width: 100%;
    }

}